<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Generate page</title>
</head>
<body>
<h2>Fixed array length: 6
    <span th:text="${length}"></span></h2>

<div class="output-generate">

    <h3 th:text="${arrayWithSixNumbers}"></h3>
    <h3 th:text="${arrayWithSixNumbers2}"></h3>
    <h3 th:text="${arrayWithSixNumbers3}"></h3>
    <h3 th:text="${arrayWithSixNumbers4}"></h3>
    <h3 th:text="${arrayWithSixNumbers5}"></h3>

</div>
</body>

</html>