<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auto page</title>
</head>
<body>
<h2>You entered:
    <span th:text="${length}"></span></h2>

<div class="output-auto">
    <table>
        <tr>
            <th>Array:</th>
        </tr>
        <th:block th:each="order : ${randomArrayCertainLength}">
            <td th:text="${order}"></td>
        </th:block>
    </table>
</div>

<script type="text/javascript">

    setTimeout(function () {
        window.location.reload(1);
    }, 10000)

</script>

</body>
</html>